/* only on desktop, keep for mobile */
@media (min-width: 960px) {
  /* Hide left nav but reserve space */
  .hide-nav-desktop {
    visibility: hidden;
  }
  /* remove left nav for blog-post */
  .rm-nav-desktop {
    display: none;
  }
}

/* Hide right TOC but reserve space */
.hide-toc {
  visibility: hidden;
}